<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>
    <title>Student crud</title>
  </head>
  <body onload="getStudents()">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <a class="navbar-brand" href="#">Student </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Add Student
        </button>
      </div>
    </nav>
    <!--add student model  -->
    <!-- Button trigger modal -->
    <!-- display data -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Sno.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">gender</th>
          <th scope="col">Hobbies</th>
          <th scope="col">Dob</th>
          <th scope="col" colspan="2" style="padding-left: 100px">Action</th>
        </tr>
      </thead>
      <tbody id="setdata"></tbody>
    </table>
    <!-- display data -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="needs-validation">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Student form</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter name"
                  id="name"
                  minlength="3"
                  required
                />
                <div id="namev" style="color: red"></div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email"
                  id="email"
                  required
                />
                <div id="emailv" style="color: red"></div>
              </div>
              <div class="form-group">
                <label>age</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter age"
                  id="age"
                  min="1"
                  max="50"
                  required
                />
                <div id="agev" style="color: red"></div>
              </div>
              <div class="form-group">
                <label>dob</label>
                <input
                  type="date"
                  class="form-control"
                  placeholder="Enter date"
                  id="dob"
                  required
                />
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">gender</label>
                <input type="radio" id="male" name="gender" value="male" /> Male
                <input type="radio" id="female" name="gender" value="female" />
                Female
                <div id="genderv" style="color: red"></div>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Hobbies</label>
                <input type="checkbox" class="checks" value="Reading" />
                Reading
                <input type="checkbox" class="checks" value="Writting" />
                Writting
                <input type="checkbox" class="checks" value="Singing" />
                Singing
                <input type="checkbox" class="checks" value="Travelling" />
                Travelling
                <div id="hobbiesv" style="color: red"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                onclick="event.preventDefault(); savedata();"
                class="btn btn-primary"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- edit -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="needs-validation">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Student edit form
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="geteditform"></div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                onclick="event.preventDefault(); saveeditdata();"
                class="btn btn-primary"
              >
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- edit -->
    <script>
      function savedata() {
        var checkboxs = document.getElementsByClassName("checks");
        var hobbies = [];
        var name = document.getElementById("name").value,
          email = document.getElementById("email").value,
          email = email.toLowerCase();
        (age = document.getElementById("age").value),
          (gender = ""),
          (dob = document.getElementById("dob").value);

        for (let index = 0; index < 4; index++) {
          if (checkboxs[index].checked == true) {
            hobbies.push(checkboxs[index].value);
          }
        }
        if (document.getElementById("male").checked == true) {
          gender += "male";
        } else if (document.getElementById("female").checked == true) {
          gender += "female";
        }
        // validation
        var atposition = email.indexOf("@");
        var dotposition = email.lastIndexOf(".");
        if (
          atposition < 1 ||
          dotposition < atposition + 2 ||
          dotposition + 2 >= email.length
        ) {
          document.getElementById("emailv").innerHTML =
            "Please enter a valid e-mail address ";
          return false;
        }
        if (name.length < 3) {
          document.getElementById("namev").innerHTML =
            "name should be atleast 3 characters";
          return false;
        }
        if (age == "") {
          document.getElementById("agev").innerHTML = "age is required";
          return false;
        }

        if (gender.length <= 0) {
          document.getElementById("genderv").innerHTML = "gender is required";
          return false;
        }
        if (hobbies.length === 0) {
          document.getElementById("hobbiesv").innerHTML =
            "Check atleast one hobbies";
          return false;
        } else {
          var data = { name, email, age, gender, dob, hobbies };
          $.ajax({
            type: "POST",
            url: "<% url%>api/student/add",
            data: data,
            dataType: "json",
            success: () => {
              window.location.reload();
            },
          });
          return true;
        }
      }
      function getStudents() {
        $.ajax({
          type: "GET",
          url: "<% url%>api/student/getall",

          success: (res) => {
            var count = 1;
            var printdata = ``;
            for (var data of res.data) {
              printdata += `<tr><td>${count}</td><td>${data.name}</td><td>${
                data.email
              }</td><td>${data.age}</td><td>${data.gender}</td><td>${
                data.hobbies
              }</td><td>${data.dob.split("T")[0]}</td>
                <td><button class='btn btn-warning' id="${
                  data._id
                }" data-toggle="modal"  data-target="#exampleModal1" onclick='getStudent(this.id)'>Edit</button></td>
                <td><a class='btn btn-danger' id="${
                  data._id
                }" onclick="deletestudent(this.id)">Delete</a></td></tr>`;
              count += 1;
            }
            document.getElementById("setdata").innerHTML = printdata;
          },
        });
      }
      function deletestudent(id) {
        $.ajax({
          type: "DELETE",
          url: "<% url%>api/student/delete?id=" + id,
          //   data: data,
          //   dataType: "json",
          success: (res) => {
            window.location.reload();
          },
        });
      }
      function getStudent(id) {
        $.ajax({
          type: "Get",
          url: "<% url%>api/student/getbyid?id=" + id,
          //   data: data,
          //   dataType: "json",
          success: (res) => {
            editform(res);
          },
        });
      }
      function editform(res) {
        var getform = "";
        var genderm = "",
          genderf = "",
          hobbiesr = "",
          hobbiesw = "",
          hobbiess = "",
          hobbiest = "";
        if (res.data.gender === "male") {
          genderm = "checked";
        } else {
          genderf = "checked";
        }
        for (let index = 0; index < res.data.hobbies.length; index++) {
          console.log(res.data.hobbies[index]);
          if (res.data.hobbies[index] == "Reading") {
            hobbiesr = "checked";
          }
          if (res.data.hobbies[index] == "Writting") {
            hobbiesw = "checked";
          }
          if (res.data.hobbies[index] == "Singing") {
            hobbiess = "checked";
          }
          if (res.data.hobbies[index] == "Travelling") {
            hobbiest = "checked";
          }
        }
        getform += `<div class="form-group">
              <input type="hidden" id="_id" value="${res.data._id}"
                  <label>Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter name"
                    id="name1"
                    value="${res.data.name}"
                    required
                  />
                  <div id="name1v" style="color: red"></div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter email"
                    id="email1"
                    value="${res.data.email}"
                    required
                  />
                  <div id="email1v" style="color: red"></div>
                </div>
                <div class="form-group">
                  <label>age</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Enter age"
                    id="age1"
                    value="${res.data.age}"
                    required
                  />
                  <div id="age1v" style="color: red"></div>
                </div>
                <div class="form-group">
                  <label>dob</label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Enter date"
                    id="dob1"
                    value="${res.data.dob.split("T")[0]}"
                    required

                  />
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">gender</label>
                  <input type="radio" id="male1" name="gender" value="male" ${genderm}/>
                  Male
                  <input type="radio" id="female1" name="gender" value="female" ${genderf}/>
                  Female
                  <div id="gender1v" style="color: red"></div>
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Hobbies</label>
                  <input type="checkbox" class="checks1" value="Reading" ${hobbiesr}/>
                  Reading
                  <input type="checkbox" class="checks1" value="Writting" ${hobbiesw}/>
                  Writting
                  <input type="checkbox" class="checks1" value="Singing" ${hobbiess}/>
                  Singing
                  <input type="checkbox" class="checks1" value="Travelling" ${hobbiest}/>
                  Travelling
                  <div id="hobbies1v" style="color: red"></div>
                </div>`;
        document.getElementById("geteditform").innerHTML = getform;
      }
      function saveeditdata() {
        var checkboxs = document.getElementsByClassName("checks1");
        var hobbies = [];
        var name = document.getElementById("name1").value,
          email = document.getElementById("email1").value,
          email = email.toLowerCase();
        (age = document.getElementById("age1").value),
          (gender = ""),
          (dob = document.getElementById("dob1").value);
        id = document.getElementById("_id").value;

        for (let index = 0; index < 4; index++) {
          if (checkboxs[index].checked == true) {
            hobbies.push(checkboxs[index].value);
          }
        }
        console.log(hobbies);
        if (document.getElementById("male1").checked == true) {
          gender += "male";
        } else {
          gender += "female";
        }
        // validation
        var atposition = email.indexOf("@");
        var dotposition = email.lastIndexOf(".");
        if (
          atposition < 1 ||
          dotposition < atposition + 2 ||
          dotposition + 2 >= email.length
        ) {
          document.getElementById("email1v").innerHTML =
            "Please enter a valid e-mail address ";
          return false;
        }
        if (name.length < 3) {
          document.getElementById("name1v").innerHTML =
            "name should be atleast 3 characters";
          return false;
        }
        if (age == "") {
          document.getElementById("age1v").innerHTML = "age is required";
          return false;
        }

        if (gender.length <= 0) {
          document.getElementById("gender1v").innerHTML = "gender is required";
          return false;
        }
        if (hobbies.length === 0) {
          document.getElementById("hobbies1v").innerHTML =
            "Check atleast one hobbies";
          return false;
        } else {
          var data = { name, email, age, gender, dob, hobbies };
          $.ajax({
            type: "POST",
            url: "<% url%>api/student/update?id=" + id,
            data: data,
            dataType: "json",
            success: () => {
              window.location.reload();
            },
          });
        }
      }
    </script>
    <!-- add student model -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
